Gabriel Ringuet <gabriel.ringuet@etu.u-bordeaux.fr> Ringuet Gabriel <gabriel.ringuet@etu.u-bordeaux.fr>
Remi Boussion <remi.boussion@etu.u-bordeaux.fr> Remi <remi.boussion@etu.u-bordeaux.fr>
Gregory Bonzon <gregory.bonzon@etu.u-bordeaux.fr> gbonzon <gregory.bonzon@etu.u-bordeaux.fr>
Matthieu Vigier-Lafosse <matthieu.vigier-lafosse@etu.u-bordeaux.fr> MattiXOfficial <mattixytb.pro@gmail.com>